*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto' sans-serif;
    font-family: 'Raleway', sans-serif;

}

h1, h2, h3, h4 ,h5,h6{
    color: rgba(23, 89, 231, 0.856);
    font-weight: 200;

}

.contenedor  {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    
}


.contenedor1{
    width: 110%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    padding: 60px 60px;
    }


    h1{
        font-size: 30px;
    }


    /* Header */
    header::before{
        content: "";
        display: contents;
        margin-bottom: 80px;
        }

    nav{
        width: 100%;
        height: 90px;
        background: #ffffff;
        border-bottom: 1px solid transparent;
        box-shadow: 3px 3px 20px 3px rgba(105, 74, 219, 0.404);
        position: fixed;
        top: 5;
        z-index: 100;
        /*transition: ease-in-out 0.5s;*/
    }

    .m{
    
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        align-items: center;
        padding: 0 40px;
    }

    .m .logo{
        height: 90px;
    }

    .m .logo img{
        background: #ffffff;
        height: 100%;
        vertical-align: top;
    }

    .menu-navegacion{
        font-weight: 300;
    }

    .m .menu-navegacion > a{
        color: rgb(35, 127, 219);
        font-weight: 300;
        text-decoration: none;
        margin-right: 10px;
   }
   
   .m .menu-navegacion > a:hover{
       text-decoration: underline;
   }

   .hamburger{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
   z-index: 100;
   cursor: pointer;
   /* transition: color 0.5s ease-in;*/
}

.hamburger >i{
   font-size: 25px;
   line-height: 80px;
}

.contenido-her{
   width: 100%;
   height: 600px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.contenido-her>img{
   width: 500px;
   animation: ease-in animat 3s;
}

@keyframes animat{
    0%{
        transform: scale(0);

    }100%{
        transform: scale(1);
    }
}



.textos-her{
   margin: 0 0 0 30px;
}

.contenido-her p{
   font-weight: 100;
   margin-top: 14px;
   color: rgba(135, 13, 160, 0.945);
}

.contenido-her a{
   margin-top: 28px 5px 5px 5px;
   width: 130px;
   display: inline-block;
   background: rgb(209, 122, 87);
   text-align: center;
   color: white;
   padding: 12px 0;
   text-decoration: none;
   font-weight: 400;
   text-transform: uppercase;
   font-size: 14px;
   border-radius: 10px;
   box-shadow: 8px 8px 8px rgb(148, 237, 240);
}

.contenido-her a:hover{
    text-decoration: underline;
}

.titulo{
   font-size: 50px;

}

/*about us*/

.about-us{
    background: rgb(248, 217, 246);
}

.contenedor-articulo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-around;
}

.articulo{
    width: 39%;
    background: rgb(191, 235, 241);
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    transition: 2.5s;
}

.articulo:hover{
    box-shadow: 10px 10px 10px rgba(24, 141, 236, 0.918);
}

.articulo>i{
    font-size: 40px;
    color: #fff;
    background: rgb(168, 90, 231);
    display: inline-block;
    width: 70px;
    height: 72px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgb(15, 117, 143);
}

.articulo>h3{
    font-size: 30px;
    margin-top: 30px;
}

.articulo>p{
    font-weight: 100;
    color: #555555;
    margin-top: 15px;
    padding-bottom: 20px;
}

.articulo>a{
    color: #555555;
    font-weight: 400;
    text-decoration: none;
}

.articulo>a:hover{
    color: rgb(245, 65, 65);
    transition: color .5s;

}

/*ques*/

.ques-contenedor{
    background: rgb(193, 211, 221);
}

.ques-contenedor{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ques-contenedor>img{
    width: 650px;
    animation: ease-in animat 5s;
}


.textos-ques{
    margin: 0 0 0 30px;
}
.textos-ques>h1{
    font-size: 30px;
    margin-top: 30px;
}

.textos-ques p{
    font-weight: 100;
    margin-top: 14px;
    color: rgb(141, 100, 12);
}

.textos-ques a{
    margin-top: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: rgba(34, 199, 211, 0.486);
    text-align: center;
    color: white;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgb(165, 107, 204);
}

.textos-ques a:hover{
    text-decoration: underline;
}

h5{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea{
    background: #d8460d;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 8fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 20px 5px;
    overflow: hidden;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 5px rgb(165, 107, 204);
}
.galeria img{ 
    width: 80%;
    vertical-align: top;
    height: 250px;
    object-fit: cover;
    transition: transform 0.5s;
}


.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

 
.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(42, 31, 43, 0.733);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img{
    width: 55vw;
    max-height: 100vw;
}

.light-box:target{
    transform: scale(1);
}


.close{
    display: block;
    position: absolute;
    top: 40px;
    right:40px;
    background: #0b44acd3;
    color: #fff;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.next{
    display: block;
    background: #0b44acd3;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, minamx(200px, fr));

    }
    .close{
        top: 20px;
        right: 20px;
    }
}


/*Breakpoints responsive*/

@media screen and (max-width:800px){
.titulo{
    font-size: 40px;
}
 .contenido-her{
     flex-direction: column;
     justify-content: space-evenly;
     height: 720px;
 }
  .textos-her{
      margin: 0;
  }

  /*About us*/

  
  .articulo{
      width: 45%;
  }

  /*ques*/
  .ques{
      height: 720px;
      justify-content: space-evenly;
      flex-direction: column;
  }

}

@media screen and (max-width:600px){
    .titulo{
        font-size: 35px;
    }

    h1,h2{
        font-size: 40px;

    }

    .contenido-her{
    height: 650px;
    }

    .m{
        padding: 0 10px;
    }

    .contenido-her>img{
        width: 200px;
    }

    .menu-navegacion{
        display: none;
    }

    .hamburger{
        display: block;
    }

    /*About us*/

    .articulo{
        width: 95%;
    }

    /*ques*/

    .ques>img{
        width: 200px;
    }
}
